  @import url(/css/global.css);

  .opening-page {
    /* background-color: #010101; */

    width: 100%;
    height: 100vh;

    align-items: center;
    display: grid;
    grid-template-rows: auto;
  }

  .page-icons {
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    /* padding: 24px 64px; */
    padding-top: 40px;
    padding-bottom: 80px;
  }

  .page-icons a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
    padding: 24px;
    border: 3px solid #FFFFFF;
    border-radius: 25px;
    /* margin: auto; */
    margin-right: 18px;
  }

  .page-icons a:hover{
    text-decoration: none;
    font-size: 1.5rem;
    color: #010101;
    background-color: #fff;
    padding: 24px;
    border: 3px solid #FFFFFF;
    border-radius: 25px;
    /* margin: auto; */
    margin-right: 18px;
  }

  .nav-bar {
    display: grid;
    place-items: center;

    /* left: 24px; */
    top: 24px;

    width: 100%;
    position: fixed;


    z-index: 2;
  }

  .nav-bar-rectangle {
    max-width: 1337px;
    max-height: 64px;

    /* position: fixed; */
    width: 100%;

    
    background-color: #00152d;
    border-radius: 20px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);

  }

  .opening-page .main {
    position: absolute;

    /* display: grid;
    grid-template-columns: 1fr 1fr; */

    overflow: hidden;

    padding: 0;

    width: 100%;
    height: 100%;

    place-items: center;
  }

  .main .photo img {
    /* object-fit: contain; */
    border-radius: 50%;
    width: 450px;
    height: 450px;
    object-fit: cover;
    /* object-position: 0 50%; */
  }

  .main {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container {
    display: flex;
    align-items: center;
  }
  
  .info {
    text-align: left;
    margin: 0 0 0 80px;
  }

  .info .name {
    font-size: 7rem;
  }
  
  #name {
    font-size: 2.2rem;
    margin: 0 0 10px 0;
  }


  .title {
    text-align: center;
      align-items: left;
      justify-content: left;
      position: relative;
  }

  .resume-link {
    text-decoration: none;
    color: #fff;
  }

  h1 {
    font-size: 6rem;
  }

  p {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 4.5rem;
  }

  .workexp-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    padding-left: 100px;
    place-items: left;
    padding-top: 50px;
    align-items: baseline;
  }

  .education-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    padding-left: 100px;
    place-items: left;
    padding-top: 50px;
    align-items: baseline;
  }

  .achieve-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    padding-left: 100px;
    place-items: left;
    padding-top: 50px;
    align-items: baseline;
  }

  .projects-container {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(800px, 800px));
    gap: 10px;
    width: 90%;
    padding-left: 200px;
    /* place-items: center; */
    padding-top: 50px;
    /* align-items: center; */
  }

  .project-image {
    align-items: right;
    padding-top: 20px;
  }

  .project-info {
    align-items: start;
    padding-top: 20px;
    padding-right: 20px;
    text-align: left;
    
  }

  .project-image img {
    width: 350px;
    height: 350px;
    border-radius: 20px;
  }

  .about-me {
    /* background: linear-gradient(180deg, #000000 0%, #2869b7 60.42%); */

    /* background-color: #f3f3f3; */
    color: #fff;

    width: 100%;
    height: 100vh;

    display: grid;
    grid-template-rows: auto;
  }

  .about-me .main2 {
    position: absolute;

    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 40vh 32vh;

    overflow: hidden;

    padding-top: 30px;

    width: 100%;
    height: 100%;

    place-items: center;
  }

  .intro-about {
    font-size: 2rem;
    text-align: center;
  }

  .title-about-me {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
  }

  .text-part {
    text-align: start;
    padding-left: 80px;

    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }

  .pic-about-me {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
  }

  .about-me .pic-about-me img {
    object-fit: contain;
    width: 450px;
    height: 450px;
    /* border: #000; */
  }

  .about-me span img {
    padding: 32px 24px;
  }

  .skills {
    /* background: linear-gradient(180deg, #2869b7 0.02%, #000000 100%); */

    width: 100%;
    height: 100vh;
    display: grid;
  }

  .skills .main3 {
    position: absolute;

    display: grid;

    grid-template-rows: 35vh 45vh;

    overflow: hidden;

    padding: 0;

    width: 100%;
    height: 100%;

    place-items: center;
  }

  .nav-bar-rectangle a {
    text-decoration: none;
    color: #fff;

    font-size: larger;
    font-weight: 550;

    float: right;
    text-align: center;
    margin: auto;
    padding: 20px 32px;

    display: inline;
  }

  .nav-bar-rectangle a:hover {
    /* background-color: #3B8BEB; */
    color: #3b8beb;

    border-radius: 20px;
  }

  #logo a {
    float: left;
    display: block;

    padding: 7px 20px;
  }

  #logo p {
    margin: auto;
    padding: 17px;
    font-size: 1.2rem;
  }

  #logo img {
    width: 50px;
    height: 50px;
  }

  .skill-chips span img {
    align-items: center;

    width: 96px;
    height: 96px;

    margin-left: auto;
    margin-right: auto;

    padding: 24px 64px;
  }

  .projects {
    /* background: linear-gradient(180deg, #000000 0%, #2869b7 52.08%); */

    width: 100%;
    height: 100vh;
  }

  .name-and-contact {
    padding: 0 0 0 0;
    margin: auto;
    /* grid-column: 2 / span 1;
    grid-row: 2 / span 1; */
  }

  .name-and-contact img{
    width: 64px;
    height: 64px;
  }

  .tandc {
    text-align: center;
  }

  .copyrights {
    color: #fff;
    /* margin: auto; */
    font-size: 12px;
  }

  /* .tandc {
    grid-column: 1 / span 2;
    grid-row: 3 / span 2;
  } */

  .name:hover {
    color: #3b8beb;
  }

  #name-madhav:hover {
    color: #3b8beb;
  }

  .title:hover {
    font-size: 4.7rem;
  }
