@import url(/css/global.css);

.opening-page {
  background-color: #010101;

  width: 100%;
  height: 100vh;

  align-items: center;
}


.nav-bar {
  display: grid;
  place-items: center;

  /* left: 24px; */
  top: 24px;

  width: 100%;
  position: fixed;


  z-index: 2;
}

.nav-bar-rectangle {
  max-width: 1337px;
  max-height: 64px;

  /* position: fixed; */
  width: 100%;

  
  background-color: #000;
  border-radius: 20px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);

}

.opening-page .main {
  position: absolute;

  display: grid;
  grid-template-columns: 1fr 1fr;

  overflow: hidden;

  padding: 0;

  width: 100%;
  height: 100%;

  place-items: center;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: initial;
}

.main .photo img {
  /* object-fit: contain; */
  border-radius: 50%;
  width: 450px;
  height: 450px;
  object-fit: cover;
  object-position: 0 50%;
}

.main .info {
  text-align: center;
}

.title {
  text-align: center;
  position: relative;
}

.resume-link {
  text-decoration: none;
  color: #fff;
}

.title::after,
.title::before {
  content: "";
  position: absolute;

  height: 5px;
  background-color: #fff;

  border-radius: 40px;
}

.title::before {
  left: 10%;
  bottom: 0%;

  width: 80%;
}

.title::after {
  left: 20%;
  bottom: -15%;

  width: 60%;
}

h1 {
  font-size: 6rem;
}

p {
  font-size: 1.5rem;
}

h2 {
  font-size: 4.5rem;
}

.about-me {
  background: linear-gradient(180deg, #000000 0%, #2869b7 60.42%);

  width: 100%;
  height: 100vh;
}

.about-me .main2 {
  position: absolute;

  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 40vh 32vh;

  overflow: hidden;

  padding: 0;

  width: 100%;
  height: 100%;

  place-items: center;
}

.title-about-me {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
}

.text-part {
  text-align: start;
  padding-left: 80px;

  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

.pic-about-me {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.about-me .pic-about-me img {
  object-fit: contain;
  width: 450px;
  height: 450px;
  /* border: #000; */
}

.about-me span img {
  padding: 32px 24px;
}

.skills {
  background: linear-gradient(180deg, #2869b7 0.02%, #000000 100%);

  width: 100%;
  height: 100vh;
}

.skills .main3 {
  position: absolute;

  display: grid;

  grid-template-rows: 40vh 50vh;

  overflow: hidden;

  padding: 0;

  width: 100%;
  height: 100%;

  place-items: center;
}

.nav-bar-rectangle a {
  text-decoration: none;
  color: #fff;

  font-size: larger;
  font-weight: 550;

  float: right;
  text-align: center;
  margin: auto;
  padding: 20px 32px;

  display: inline;
}

.nav-bar-rectangle a:hover {
  /* background-color: #3B8BEB; */
  color: #3b8beb;

  border-radius: 20px;
}

#logo a {
  float: left;
  display: block;

  padding: 7px 22px;
}

#logo img {
  width: 50px;
  height: 50px;
}

.skill-chips span img {
  align-items: center;

  width: 96px;
  height: 96px;

  margin-left: auto;
  margin-right: auto;

  padding: 24px 64px;
}

.projects {
  background: linear-gradient(180deg, #000000 0%, #2869b7 52.08%);

  width: 100%;
  height: 100vh;
}

.projects .main4 {
  position: absolute;

  display: grid;

  grid-template-rows: 40vh 50vh;

  overflow: hidden;

  padding: 0;

  width: 100%;
  height: 100%;

  place-items: center;
}

.contact-sec {
  background: linear-gradient(180deg, #2869b7 0%, #010101 100%);

  width: 100%;
  height: 100vh;
}

.contact-sec .main5 {
  position: absolute;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40vh 50vh;

  overflow: hidden;

  padding: 0;

  width: 100%;
  height: 100%;

  place-items: center;
}

.title-contact {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
}

.contact-details {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

.name-and-contact {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.contact-details img {
  width: 100%;
}

.name-and-contact img {
  padding: 24px 24px;
}

.name-and-contact p {
  padding-left: 24px;
}

.tandc {
  text-align: center;
}

.copyrights {
  color: #fff;
  margin: auto;
  font-size: 16px;
}

.tandc {
  grid-column: 1 / span 2;
  grid-row: 3 / span 2;
}

.name:hover {
  color: #3b8beb;
}

.title:hover {
  font-size: 4.7rem;
}
